# this is the name of the target used when none is specified
default_target="endpoint_name"

# target names on the command line, e.x. `endpoint_name`
# are associated with endpoints by postfixing `_server` to 
# the target's name
endpoint_name_server="https://sd-12345.stardog.cloud:5820"

# credentials can be specified using the same pattern, but
# if you have a [Stardog Password File](https://docs.stardog.com/operating-stardog/security/managing-users-and-roles#password-file-format)
# knowledge-kits will pick up the credentials based on the 
# endpoint URL and then you don't need the credentials here.
# This file takes precedence over the password file.
endpoint_name_username=your@email.com
endpoint_name_password=12345_MyLuggage